@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   @apply bg-white dark:bg-gray-950;

   @media (prefers-color-scheme: dark) {
      color-scheme: dark;
   }
}

.feedback-scroll::-webkit-scrollbar {
   width: 6px;
}

.feedback-scroll::-webkit-scrollbar-track {
   @apply bg-white/40 rounded;
}

.feedback-scroll::-webkit-scrollbar-thumb {
   @apply bg-secondary/50 rounded;
}

.feedback-scroll {
   scrollbar-width: thin;
   scrollbar-color: theme('colors.secondary') transparent;
}
